.link{
  text-decoration: none;
}

.login-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: auto;
}

.button{
  width: 150px;
  margin-top: 25px !important;
  margin-right: 50px !important;
}